* {
    font-family: "Playwrite GB S", cursive;
}

main {
    border: solid red
}

body {
    background-image: url(./assets/gradiente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2 {
    text-align: center;
    color: black;
    margin-bottom: 4px;
    line-height: 150%;
}

#video {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente, se necessário */
    margin: 20px 0; /* Adiciona um espaço acima e abaixo do vídeo */
}

.video {
    text-align: center;
    box-sizing: content-box;
}


